.cards {
  margin-top: 20px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.card h2 {
  margin-top: 10px;
}

.destaque {
  border-left: 4px solid red;
}